aiofiles==24.1.0
aioimaplib==1.1.0
altgraph==0.17.4
auto-py-to-exe==2.45.1
black==24.10.0
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Eel==0.18.1
et_xmlfile==2.0.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
mypy-extensions==1.0.0
numpy==2.2.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.6.0
six==1.17.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
xlrd==2.0.1
zope.event==5.0
zope.interface==7.2
